/*VARS*/
:root {
    --Basic-100: #FFFFFF;
    --Basic-200: #FCFCFC;
    --Basic-300: #FAFAFA;
    --Basic-900: #0C0C0C;

    --Grey-100: #EDEDED;
    --Grey-200: #D9D9D9;
    --Grey-300: #CBCBCB;
    --Grey-400: #B5B5B5;
    --Grey-500: #A3A3A3;
    --Grey-600: #8F8F8F;
    --Grey-700: #7D7D7D;
    --Grey-800: #545454;
    --Grey-900: #292929;

    --Green-100: #DDFDEC;
    --Green-200: #B7FDDA;
    --Green-300: #31F890;
    --Green-400: #00D86A;
    --Green-500: #03934A;
    --Green-600: #02753A;
    --Green-700: #02592B;
    --Green-800: #003A1D;
    --Green-900: #001C0D;

    --Default-Theme: #318E41;

    --Red-100: #F9D9E0;
    --Red-200: #F8B6C5;
    --Red-300: #F77092;
    --Red-400: #F62C5E;
    --Red-500: #D60339;
    --Red-600: #900124;
    --Red-700: #73011D;
    --Red-800: #580017;
    --Red-900: #3A000E;

    --Blue-100: #D5E7F6;
    --Blue-200: #ABCFED;
    --Blue-300: #81B7E4;
    --Blue-400: #57A0DB;
    --Blue-500: #3188D2;
    --Blue-600: #256CA8;
    --Blue-700: #1A517E;
    --Blue-800: #123654;
    --Blue-900: #081B2A;

    --Orange-100: #FFF2D6;
    --Orange-200: #FFE7B3;
    --Orange-300: #FFD680;
    --Orange-400: #FFC64D;
    --Orange-500: #FFB000;
    --Orange-600: #EBA000;
    --Orange-700: #CB8B02;
    --Orange-800: #A67203;
    --Orange-900: #7A5400;

    --Font-Family-Main: "Lexend";
}

/*END OF VARS*/

body {
    margin: 0;
    padding: 0;
    font-family: var(--Font-Family-Main), sans-serif;
    font-style: normal;
    font-size: 0.9rem;
    font-weight: 400;
    background: var(--Basic-200);
    position: relative;
}

input[type="text"], input[type="password"] {
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}

::-webkit-scrollbar {
    display: none;
}

:focus {
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 768px) {
    .onboarding-image {
        object-fit: contain;
    }
}

.localization-container {
    max-width: 100%;
    background: var(--Basic-100);
    border-radius: 4px;
    margin: 5px 15px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 8px;
    font-weight: 400;
    font-size: 14px;
    color: var(--Basic-900);
}

.welcome-text-container {
    max-width: 100%;
    height: 80px;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
    display: flex;
    align-items: center;
    color: var(--Basic-900);
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.lang-mobile-wrapper {
    display: flex;
}

.lng-display {
    line-height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.flag-icon {
    box-shadow: 0 11px 9px 0 rgba(99, 99, 99, 0.00),
    0 7px 8px 0 rgba(99, 99, 99, 0.01),
    0 4px 7px 0 rgba(99, 99, 99, 0.05),
    0 2px 5px 0 rgba(99, 99, 99, 0.09),
    0 0 3px 0 rgba(99, 99, 99, 0.10);
}

.lang-switcher {
    position: relative;
}

.dialog-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    z-index: 9998;
}

.lng-switcher-dialog {
    position: absolute;
    top: 40px;
    max-width: 500px;
    width: 90%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background: var(--Basic-100);
    box-shadow: 0 2px 17px 0 rgba(149, 149, 149, 0.10);
    z-index: 9999;
    padding: 0 40px 0 40px;
    box-sizing: border-box;
}

.non-selectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: transparent;
}

.nav-container {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
    padding-right: 15px;
    user-select: none;
}

.nav-category {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 100px;
    background: var(--Basic-100);
    font-size: 14px;
    color: var(--Grey-700);
    text-wrap: nowrap;
    cursor: pointer;
}

.nav-category.active {
    background: var(--Default-Theme);
    color: var(--Basic-200);
}

.menu-items-wrapper {
    padding: 0 15px 15px 15px;
}

.menu-item-container {
    position: relative;
    width: 100%;
    height: 124px;
    border-radius: 12px;
    background: var(--Basic-100);
    margin-bottom: 22px;
    cursor: pointer;
}

.banner-wrapper {
    position: absolute;
    top: -9px;
    display: flex;
    gap: 4px;
}

.banner-container {
    display: flex;
    padding: 3px 9px 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--Basic-900);
    color: var(--Basic-200);
    font-size: 10px;
    font-weight: 600;
}

.banner-icon {
    margin-right: 3px;
}

.menu-item-grid {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 15px 10px;
}

.menu-item-grid.no-photo {
    display: grid;
    grid-template-columns: 1fr;
    height: 100px;
    padding: 15px 10px;
}

.menu-item-image-container {
    grid-column: 1;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.menu-item-image {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.details-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.banner-wrapper-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}


.details-labels-container {
    margin-left: 15px;
    display: flex;
}

.details-label-icon {
    margin-right: 6px;
}

.menu-item-text-data-grid {
    grid-column: 2;
    position: relative;
    margin-left: 10px;
}

.menu-item-text-data-grid.no-photo {
    grid-column: 1;
    position: relative;
    margin-left: 0;
}

.menu-item-name {
    font-weight: 400;
    color: var(--Basic-900);
    margin-bottom: 5px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-item-description {
    color: var(--Grey-700);
    font-weight: 300;
    line-height: 18px;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
}

.menu-item-price {
    position: absolute;
    font-size: 14px;
    left: 0;
    bottom: 0;
    font-weight: 500;
    color: var(--Basic-900);
}

.menu-item-price.promo {
    display: flex;
}

.promo-icon {
    margin-left: 4px;
}

.info-icon {
    margin-left: 4px;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: middle;
}

.old-price {
    color: var(--Grey-300);
    margin-right: 9px;
}

.no-positions-text {
    color: #7D7D7D;
}

/* SEARCH BUTTON */
.search-initial-circle {
    background: var(--Basic-100);
    border: 0;
    border-radius: 100px;
    width: 38px;
    min-width: 38px;
    height: 38px;
    min-height: 38px;
    cursor: pointer;
}

.search-initial-circle:hover, .general-button:hover, .circle-active {
    background: var(--Basic-100);
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 38px;
    height: 38px;
    border: 0;
    border-radius: 100px;
    background: var(--Basic-100);
    margin-left: 15px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.10);
    transition: width 0.5s ease;
}

.search-button.margin-right {
    margin-right: 10px;
}

.search-button.margin-left {
    margin-left: 10px;
}

.search-active {
    background: var(--Basic-100);
    width: 220px;
}

.search-button:hover {
    background: var(--Basic-100);
}

.search-icon {
    margin-left: 7px;
}

.search-form-container {
    position: relative;
    overflow: hidden;
    width: 0;
    transition: width 0.5s ease, opacity 0.5s ease;
    display: flex;
    align-items: center;
}

.search-form-container.visible {
    width: 100%;
    opacity: 1;
}

.search-form-container.hidden {
    width: 0;
    opacity: 0;
}

.search-button-form {
    display: contents;
}

.search-button-input {
    font-size: 16px;
    font-weight: 400;
    color: var(--Basic-900);
    width: 140px;
    height: 30px;
    margin-right: 30px;
    font-family: var(--Font-Family-Main), sans-serif;
    border-radius: 100px;
    background: var(--Basic-100);
    opacity: 0;
    animation: appear 0.3s linear 0.3s forwards;
}

.search-button-input::placeholder {
    color: #7D7D7D;
}

.search-button-input:focus::placeholder {
    color: var(--Basic-100);
}

.clear-filter-x {
    position: absolute;
    right: 15px;
    color: #7D7D7D;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* END OF SEARCH BUTTON */

/* MENU ITEM DETAILS */

.menu-item-details-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    background: var(--Basic-100);
}

.return-button {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
    width: 34px;
    height: 34px;
    background: var(--Basic-100);
    filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.10));
    box-shadow: 0 2px 17px 0 rgba(149, 149, 149, 0.10);
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.details-image-container {
    height: 268px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.details-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 0;
}

.details-data-section {
    position: relative;
    border-radius: 20px 20px 0 0;
    background: var(--Basic-100);
    margin-top: -35px;
    filter: none;
    box-shadow: 0 -9px 20px -11px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.details-data-section.no-image {
    margin-top: 0;
    padding-top: 50px;
    box-shadow: none;
}

.details-data-container {
    padding: 17px 17px 40px 17px;
    font-family: var(--Font-Family-Main), sans-serif;
    font-style: normal;
    line-height: 18px;
    position: relative;
}

.details-name {
    color: var(--Basic-900);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 4px;
}

.inline-block {
    display: inline-block;
}

.details-description {
    color: var(--Grey-700);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.34px;
    line-height: 20px;
    margin-bottom: 36px;
}

.details-definition-text {
    color: var(--Basic-900);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}

.details-allergens-container {
    margin-top: -10px;
    margin-bottom: 40px;
}

.details-allergen-icon {
    width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.tippy-box.tooltip {
    background-color: var(--Basic-100);
    color: var(--Blue-600);
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.allergens-tooltip-header {
    margin: 0 0 8px 0;
}

.allergen-position {
    display: flex;
    align-content: center;
    gap: 6px;
    margin-bottom: 6px;
}

.details-fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.95) 34.99%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-price-label {
    display: inline-flex;
    padding: 11px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: var(--Default-Theme);
    position: absolute;
    bottom: 20px;
    width: 90%;
}

.details-price-text {
    color: var(--Basic-200);
    font-size: 16px;
    font-weight: 400;
}

.details-list-positions-wrapper {
    margin-bottom: 35px;
}

.details-list-position-container {
    margin-bottom: 8px;
    width: 100%;
    border-radius: 8px;
    background: var(--Basic-100);
    box-shadow: 0 2px 16px 0 rgba(149, 149, 149, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8px;
    box-sizing: border-box;
}

.details-list-position-text {
    color: var(--Basic-900);
    font-size: 14px;
    font-weight: 300;
}

.details-list-position-price {
    color: var(--Basic-900);
    font-size: 14px;
    font-weight: 400;
}

.details-list-addition-price {
    color: var(--Basic-900);
    font-size: 14px;
    font-weight: 400;
}

.optional-text {
    color: var(--Grey-700);
    font-weight: 400;
    font-size: 14px;
}

.pessimistic-path-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #121620;
    color: #FFF;
    padding: 10px;
    box-sizing: border-box;
}

.pessimistic-path-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pessimistic-path-header {
    margin: 50px 0 15px 0;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    line-height: 37px;
}

.pessimistic-path-paragraph {
    font-size: 20px;
    text-align: center;
}

.brand-logo-container {
    background: #000;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.operating-hours-container {
    padding: 40px 0;
}

.operating-hours-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-weight: 300;
    font-size: 20px;
}

.operating-hours-day {
    color: #93939E;
}

@media (max-width: 500px) {
    .pessimistic-path-header {
        font-size: 34px;
    }

    .pessimistic-path-paragraph {
        font-size: 14px;
        text-align: center;
    }

    .operating-hours-position {
        gap: 15px;
        font-size: 14px;
    }
}

/* END OF MENU ITEM DETAILS */

/* ----- LOADING SPINNER ----- */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #222;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.spinner-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 220px);
    z-index: 9000;
}

/* ---- END -----*/